{% extends 'base.html.twig' %}

{% block body %}

<h1>Adreßbuch der Direktoren und Aufsichtsräte</h1>
<h2>Über das Project</h2>
<ul>
    <li>Datenaufbereitung durch Simon Krahé, vgl. <a href="https://gitlab.com/simon.krahe/address-book-to-network">gitlab.com/simon.krahe/address-book-to-network</a></li>
</ul>
{% endblock %}