{% block body %}

<h3>{{ pageTitle }}</h3>

{% for row in pagination %}
    {% set person = row[0] %}
    <div>
        <a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.fullName }}</a>
        ({{ person.companyRelations|length }})
    </div>
{% endfor %}

{% endblock %}
