{% block body %}

<h3>{{ pageTitle }}</h3>

{% for row in pagination %}
    {% set company = row[0] %}
    <div>
        <a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.fullName }}</a>
        ({{ company.personRelations|length }})
    </div>
{% endfor %}

{% endblock %}
